page-list {
	ion-content {
		background-color:#f0ad4e !important;

		ion-col {
			margin-bottom:10px !important;
			background-color: rgba(255, 255, 255, 0.8) !important;
			border-radius:5px;
			margin-right:1% !important;
		}
		#headings {

		}
		.caption_responsivewise {
			display:none;
		}
	}

	@media only screen and (max-width: 480px) {
		#headings {
			display:none !important;
		}

		.caption_responsivewise {
			display: block !important;
    		margin-bottom: 10px;
		}
	}

}
