page-entry {

	button{
		min-width:200px;
	}

	ion-card {

		background-color:map-get($colors, danger) !important;
		
		ion-card-content {
			small{
				color:map-get($colors, light);
			}
		}
	}

	@media only screen and (min-width: 1200px) {
	    form {
	    	width:40%;

	    	#ingredients-input-wrapper {
	    		float:left;
	    		width: 75%;
	    	}

	    	#hours-input-wrapper, #minutes-input-wrapper {
	    		float:left;
	    		width: 50%;
	    	}

	    	#quantity-input-wrapper {
	    		float:left;
	    		width:25%;
	    	}
	    	ion-icon[name='close'] {
	    		cursor:pointer;
	    		padding-left:1vw;
	    	}

	    }
	}
}
