page-entry {


	small {
		color: map-get($colors, danger) !important;
	}

	@media only screen and (min-width: 1200px) {
	    form {
	    	width:40%;

	    	#ingredients-input-wrapper {
	    		float:left;
	    		width: 50%;
	    	}

	    	#quantity-input-wrapper {
	    		float:left;
	    		width:25%;
	    	}

	    	#ingredient-save-btn {
	    		float:left;
	    		width:20%;
	    	}
	    	ion-icon[name='close'] {
	    		cursor:pointer;
	    		padding-left:1vw;
	    	}
	    }
	}
}
