<!--
  Generated template for the EntryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Recipe Entry </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-item>
		<small *ngIf="submitAttempt">
			Please fill in all details accurately.
		</small>
	</ion-item>

	<form novalidate [formGroup]="recipe" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Recipe Name</ion-label>
        <ion-input type="text" formControlName="title" required></ion-input>
      </ion-item>
      	<ion-item>
        	<small *ngIf="!recipe.controls.title.valid && (recipe.controls.title.dirty || submitAttempt)">
        		Please enter a valid name.
        	</small>
    	</ion-item>

      <ion-item>
        <ion-label>Recipe Source</ion-label>
        <ion-input type="text" formControlName="source" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-list>
        	<ion-badge item-end *ngFor="let item of ingredients; let i = index">
        		{{ item.title }} {{ item.quantity }} 
        		<ion-icon name="close" (click)="removeIngredient(i)"></ion-icon>
        	</ion-badge>
		</ion-list>
      </ion-item>

      <ion-item  id="ingredients-input-wrapper">
	    <ion-label>Ingredient</ion-label>
	    <ion-select formControlName="ingredientTtl">
	      <ion-option value="flour">Flour</ion-option>
	      <ion-option value="milk">Milk</ion-option>
	      <ion-option value="oil">Oil</ion-option>
	      <ion-option value="salt">Salt</ion-option>
	      <ion-option value="sugar">Sugar</ion-option>
	      <ion-option value="eggs">Eggs</ion-option>
	    </ion-select>
	  </ion-item>

	  <ion-item id="quantity-input-wrapper">
        <ion-label>Quantity</ion-label>
        <ion-input type="text" formControlName="ingredientQnt"></ion-input>
      </ion-item>

      <button ion-button id="ingredient-save-btn" (click)="saveIngredient()" [disabled]="(recipe.controls.ingredientQnt.pristine || recipe.controls.ingredientTtl.pristine)">
      	Next Ingredient
      </button>

      <ion-item>
        <ion-label>Instructions</ion-label>
        <ion-textarea formControlName="instructions" required></ion-textarea>
      </ion-item>

        <ion-item>
        	<small *ngIf="!recipe.controls.instructions.valid && (recipe.controls.instructions.dirty || submitAttempt)">
        		Please enter a valid instruction (min 40 letters).
        	</small>
    	</ion-item>

      <button ion-button type="submit">
      	Save Recipe
      </button>

    </form>

	<button ion-button (click)="listRecipes()">
		List All Recipes
	</button>
</ion-content>
